<div class="m-3">
  <h2>User info</h2>
  <% if @user.errors.any? %>
   	<%= @user.errors.count %>errors prohibited this obj from being saved:
    	<ul>
  		<% @user.errors.full_messages.each do |message| %>
    		<li><%= message %></li>
  		<% end %>
    	</ul>
  <% end %>

  <%= form_with model: @user do |f| %>
  <div>
    <label for="inputName">Name</label><br>
    <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"Name"%>
  </div>
  <div>
    <label for="inputImage">Image</label><br>
    <%= f.file_field :profile_image, placeholder: "Image", accept: "image/*" %>
  </div>
  <div>
    <label for="inputIntro">Introduction</label><br>
    <%= f.text_field :introduction %>
  </div>
    <%= f.submit "Update User" %>
  <% end %>
</div>