<% if book.errors.any? %>
  <%= book.errors.count %>errors prohibited this obj from being saved:
  <ul>
    <% book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<h2>User info</h2>

<%= image_tag user.get_profile_image(100,100) %>

<div class="container mb-4 pr-5">
	<div class="row border-top border-light">
		<div class="col-6">name</div>
		<div class="col-6"><%= user.name %></div>
	</div>
	<div class="row border-top border-light">
		<div class="col-6">introduction</div>
		<div class="col-6"><%= user.introduction %></div>
	</div>
</div>

<%= link_to edit_user_path(user), class: 'text-secondary' do %>
	<div type="button" class="btn btn-outline-secondary w-75 text-decoration-none">
		<i class='fas fa-user-cog'></i>
	</div>
<% end %>

<p></p>
<h2>New book</h2>

<%= form_with model: book do |f| %>

	Title<br>
	<%= f.text_field :title %>
	<br>
	Body<br>
	<%= f.text_area :body %>
	<br>
	<%= f.submit 'Create Book' %>

<% end %>