<% if book.errors.any? %>
  <%= book.errors.count %>errors prohibited this obj from being saved:
  <ul>
    <% book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<h2>User info</h2>

<%= image_tag user.get_profile_image(100,100) %>

<div class="container mb-4">
	<div class="row row-cols-2">
		<div class="column border-top border-bottom border-light">name</div>
		<div class="column border-top border-bottom border-light"><%= user.name %></div>
		<div class="column">introduction</div>
		<div class="column"><%= user.introduction %></div>
	</div>
</div>

<% if user == current_user %>
	<p type="button" class="btn btn-outline-secondary"><%= link_to "<i class='fa-solid fa-user-gear'></i>", edit_user_path(user) %></p>
<% end %>

<h2>New book</h2>

<%= form_with model: book do |f| %>

	Title<br>
	<%= f.text_field :title %>
	<br>
	Body<br>
	<%= f.text_area :body %>
	<br>
	<%= f.submit 'Create Book' %>

<% end %>