<!--User info-->

<!--New book-->

<%= render 'book', book: @book, user: @user %>

<h2>Book detail</h2>

	<div><%= image_tag @book.user.get_profile_image(100,100) %></div>
	<div><%= @book.title %></div>
	<div><%= @book.body %></div>
	<% if @book.user == current_user %>
		<%= link_to "Edit", edit_book_path(@book.id) %>
		<%= link_to "Destroy", book_path(@book.id), method: :delete, "data-confirm" => "本当に消しますか？" %>
	<% end %>
